@tailwind base;
@tailwind components;
@tailwind utilities;


/* Aside Admin Panel */
/* Chrome, Edge, and Safari */
.aside-scroll-bar::-webkit-scrollbar {
    width: 4px;
  }
  
.aside-scroll-bar::-webkit-scrollbar-track {
background-color: #0f172a;
}

.aside-scroll-bar::-webkit-scrollbar-thumb {
background-color: #cbd5e1;
border-radius: 10px;
}

/* Mega Menu */

.megamenu-scroll-bar::-webkit-scrollbar {
  width: 4px;
}

.megamenu-scroll-bar::-webkit-scrollbar-track {
background-color: #cbd5e1;
}

.megamenu-scroll-bar::-webkit-scrollbar-thumb {
background-color: #0f172a;
border-radius: 10px;
}